<div class="container">
  <h1>Ficha de Usuario</h1>
  {{ mode }}: Usuario {{ userId }}

  <form *ngIf="userForm" [formGroup]="userForm" novalidate autocomplete="off">

    <div class="form-group">
      <label for="recon">Id</label>
      <input type="number" class="form-control" id="recon" formControlName="id">
    </div>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>

    <div *ngIf="userForm.get('nombre')!.dirty && userForm.get('nombre')!.errors">
      <small class="form-text text-danger"
             *ngIf="userForm.get('nombre')!.errors!['required']">
        Este campo es requerido
      </small>
      <small class="form-text text-danger"
             *ngIf="userForm.get('nombre')!.errors!['minlength']">
        Este campo tiene que tener una longitud mínima de 3 caracteres
      </small>
    </div>

    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
    </div>

    <div *ngIf="userForm.get('apellidos')!.dirty && userForm.get('apellidos')!.errors">
      <small class="form-text text-danger"
             *ngIf="userForm.get('apellidos')!.errors!['required']">
        Este campo es requerido
      </small>
      <small class="form-text text-danger"
             *ngIf="userForm.get('apellidos')!.errors!['minlength']">
        Este campo tiene que tener una longitud mínima de 6 caracteres
      </small>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
    </div>

    <div *ngIf="userForm.get('email')!.dirty && userForm.get('email')!.errors">
      <small class="form-text text-danger"
             *ngIf="userForm.get('email')!.errors!['required']">
        Este campo es requerido
      </small>
      <small class="form-text text-danger"
             *ngIf="userForm.get('email')!.errors!['minlength']">
        Este campo tiene que tener una longitud mínima de 6 caracteres
      </small>
    </div>

    <select class="form-select" aria-label="Selecciona un rol" formControlName="rol" (change)="selectRole($event)">
      <option selected disabled>Selecciona un rol</option>
      <option value="ADMINISTRADOR">ADMINISTRADOR</option>
      <option value="CONTRIBUTOR">CONTRIBUTOR</option>
    </select>

    <div class="buttonsForm">
      <button type="button" class="btn btn-success" (click)="saveUser()" [disabled]="userForm.invalid">Guardar</button>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelEditModal">
        Cancelar
      </button>
    </div>
  </form>

  <div class="modal fade" id="cancelEditModal" tabindex="-1" aria-labelledby="cancelEditModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cancelar editar usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea eliminar los cambios realizados?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="resetUser()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

