.container {
  margin-top: 5%;
}

.form-group {
  margin-top: 5px;
}

label {
  font-weight: bold;
}

.buttonsForm {
  margin-top: 5%;
}

.btn-success {
  background-color: forestgreen;
  &:hover{
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    color: black;
    font-weight: bold;
  }
}

.btn-danger{
  margin-left: 20px;
  &:hover {
    background-color: darkred;
    border-color:darkred;
    font-weight: bold;
  }
}
