<div class="container">
  <h1>Ficha de Usuario</h1>
  {{ mode }} // {{ userId }}

  <form *ngIf="user" #itemForm="ngForm" name="itemForm" role="form" novalidate autocomplete="off">
    <div class="form-group">
      <label for="recon">Id</label>
      <input disbled type="number" [(ngModel)]="user.id" name="id" class="form-control" id="recon" #price="ngModel">
    </div>

    <!-- Nombre -->
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" id="nombre" #name="ngModel" required minlength="3" maxlength="100">
    </div>
    <div *ngIf="(name.dirty && name.errors)">
      <small class="form-text text-danger"
             *ngIf="name.errors['required']">
        Este campo es requerido
      </small>
      <small class="form-text text-danger"
             *ngIf="name.errors['minlength']">
        Este campo tiene que tener una longitud mínima de 3 caracteres
      </small>
    </div>

    <!-- Apellidos -->
    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" [(ngModel)]="user.apellidos" name="apellidos" class="form-control" id="apellidos" #name="ngModel" required minlength="3" maxlength="100">
    </div>
    <div *ngIf="(name.dirty && name.errors)">
      <small class="form-text text-danger"
             *ngIf="name.errors['required']">
        Este campo es requerido
      </small>
      <small class="form-text text-danger"
             *ngIf="name.errors['minlength']">
        Este campo tiene que tener una longitud mínima de 6 caracteres
      </small>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="user.email" name="apellidos" class="form-control" id="email" #name="ngModel" required minlength="3" maxlength="100">
    </div>
    <div *ngIf="(name.dirty && name.errors)">
      <small class="form-text text-danger"
             *ngIf="name.errors['required']">
        Este campo es requerido
      </small>
      <small class="form-text text-danger"
             *ngIf="name.errors['minlength']">
        Este campo tiene que tener una longitud mínima de 6 caracteres
      </small>
    </div>

    <select class="form-select" aria-label="Selecciona un rol" (change)="selectRole($event)">
      <option selected disabled>Selecciona un rol</option>
      <option value="ADMINISTRADOR">ADMINISTRADOR</option>
      <option value="CONTRIBUTOR">CONTRIBUTOR</option>
    </select>

    <div class="buttonsForm">
      <button type="button" class="btn btn-success" (click)="saveUser()" [disabled]="itemForm.invalid">Guardar</button>
      <!-- TODO: Hacer modal cancelar -->
      <button type="button" class="btn btn-danger" >Cancelar</button>
    </div>
  </form>
</div>
