<h1>Gestión usuarios</h1>
<a><i class="fa fa-filter"></i></a>
<table *ngIf="users.length > 0">
  <thead>
  <th>Id</th>
  <th>Nombre</th>
  <th>Apellido</th>
  <th>Email</th>
  <th>Rol</th>
  <th>Acción</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>
      {{ user.nombre }}
    </td>
    <td>
      {{ user.apellidos }}
    </td>
    <td>
      {{ user.email }}
    </td>
    <td>
      {{ user.rol }}
    </td>
    <td>
      <a [routerLink]="['/users/edit', user.id]"><i class="far fa-edit"></i></a>
      <a (click)="prepareUserToDelete(user.id!)"><i class="fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#askConfirmationDelete" ></i></a>
    </td>
  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-success"  [routerLink]="['/users/create']">Crear Usuario</button>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea eliminar el usuario seleccionado?
        Una vez realizado no podrá recuperar el registro.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteUser()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

