.filter {
  margin-top: 20px;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  th, td{
    padding: 8px;
    text-align: center;
  }
  td a {
    margin-right: 20px;
    cursor: pointer;
    font-size: 25px;
  }
}

.fa-check {
  color: skyblue;
  margin-right: 3px;
}

.fa-filter{
  cursor: pointer;
  &:hover {
    color: skyblue;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.3);
  }
}


.fa-edit {
  margin-left: 30px;
  color: blue;
  cursor: pointer;
  &:hover {
    color: deepskyblue;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.3);
  }
}

.fa-trash-alt {
  margin-left: 20px;
  color: red;
  cursor: pointer;
  &:hover {
    color: darkred;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.3);
  }
}

.button {
  cursor: pointer;
}

.btn-new {
  margin-top: 20px;
  margin-left: 84%;
  cursor: pointer;
  font-size: 16px;
  .btn-success {
    background-color: forestgreen;
    &:hover{
      background-color: mediumseagreen;
      border-color: mediumseagreen;
      color: black;
      font-weight: bold;
    }
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.pagination > li > a
{
  background-color: white;
  color: forestgreen;
  font-weight: bold;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: ghostwhite;
  background-color: seagreen;
  border-color: #ddd;
  font-weight: bold;
}

.hidden {
  display: none;
}

.card {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
}

.button-container {
  margin-top: 20px;
  .btn-primary{
    margin-left: 10px;
    &:hover {
      background-color: deepskyblue;
      border-color:deepskyblue;
      font-weight: bold;
    }
  }
  .btn-danger{
    margin-left: 20px;
    &:hover {
      background-color: darkred;
      border-color:darkred;
      font-weight: bold;
    }
  }
}
