<div class="container">
  <div>
    <h1>¡Regístrate y administra tu cuenta de usuario con nosotros!</h1>
    <p>Nuestra plataforma te permite crear fácilmente tu cuenta personal y gestionar tus datos de forma segura.</p>
    <p>Únete ahora para acceder a todas las funciones de usuario y disfrutar de una experiencia personalizada. </p>
    <p>¡Es rápido, sencillo y seguro!</p>
  </div>
  <div>
    <a [routerLink]="['/users']">
      <img [src]="'assets/home.png'" alt="Imagen" style="max-width: 100%;">
    </a>
  </div>
</div>
